## tuples
* t1 parenthesis() li square brackets[]
* diffrence between list and tuples
   * list are mutable-can be changed/modified
     * used to access modify,add,delete data
   * tuples are immutable and cannot be changed
     * use to access data only

In [13]:
t1=[1,2,3,4,5,6]
t1
type(t1)

list

## data structures
* Dictionaries

## dictionaries
* it works on the concept of set uniqye data
* keys,values is the unique identifier for a value
* each key is seperated from its value with colon(:)
* each key and value is seperated by comma(,)
* dictionaries enclosed with curly braces({})

In [1]:
d1={"name":"nikitha","emailid":"nikitha@gmail.com","address":"hyderabad"}
print(d1)

{'name': 'nikitha', 'emailid': 'nikitha@gmail.com', 'address': 'hyderabad'}

In [2]:
d1["name"]

'nikitha'

In [6]:
d1["emailid"] = "nikithanasi@gmail.com"

In [7]:
d1["emailid"]

'nikithanasi@gmail.com'

In [8]:
del d1["emailid"]

In [9]:
d1

{'name': 'nikitha', 'address': 'hyderabad'}

In [10]:
d1.keys()

dict_keys(['name', 'address'])

In [11]:
d1.values()

dict_values(['nikitha', 'hyderabad'])

In [12]:
d1.items()

dict_items([('name', 'nikitha'), ('address', 'hyderabad')])

## contact application
* add contact
* search contact
* list all contacts
   * name1:phone1
   * name2:phone2
* modify the contacts
* remove the contacts
* import the contacts

In [23]:
contacts = {}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name] = phone
        print("contact details are added")
    else:
        print("contact details are alreadt exists")
    return
addcontact('nikitha','9542595776')
addcontact('anasi','9246245484')
addcontact('nikitha','835495788')

contact details are added
contact details are added
contact details are alreadt exists

In [24]:
# search for contact details
def searchcontact(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print("%s doesnot exsits"%name)
    return
searchcontact('nikitha')
searchcontact('anasi')
searchcontact('vivek')

nikitha : 9542595776
anasi : 9246245484
vivek doesnot exsits

In [30]:
# import some contacts
# merge the contacts with existing one
def importcontacts(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts added succesfully")
    return
newcontacts={'hari':9848995776,'saivivek':8282891}
importcontacts(newcontacts)

2 contacts added succesfully

In [31]:
contacts

{'anasi': '9246245484', 'hari': 9848995776, 'saivivek': 8282891}

In [33]:
# delete contacts
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted succesfully")
    else:
        print(name,"not existed")
    return
deletecontact('nikitha')
deletecontact('anu')

nikitha not existed
anu not existed

In [32]:
contacts

{'anasi': '9246245484', 'hari': 9848995776, 'saivivek': 8282891}

In [42]:
# update the contact details
def deletecontact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name,"update succesfully")
    else:
        print(name,"not exists")
    return
deletecontact('nikitha',9848995776)
deletecontact('hari',98489956)

nikitha not exists
hari update succesfully

In [43]:
contacts

{'anasi': '9246245484', 'hari': 98489956, 'saivivek': 8282891}

### packages and modules
**packages:**
     *     a collection of modules(single python file .py) and subpackages
**modules:**
     *      a single python file containing set funtions
 ### packages -->sub packages-->modules-->functions-->statements

In [38]:
# import:it is used to import the external packages to python file
import math
math.floor(123.45)

123

In [39]:
from math import factorial as fact
fact(5)

120

In [43]:
# function to generate N random numbers in given range
import random
def randomNnumber(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
randomNnumber(10,0,100)

73 76 21 83 81 81 26 52 18 24

In [68]:
# create a simple game
# generate 20 random numbers 0 to500
# input: number
# output:congrats!!
#          try once again!!
import random
def generatenumber(n,lb,ub):
    
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
generatenumber(20,0,500)
def check(n):
    li=[]
    if n in li:
        return "congrats!!"
    else:
        return "try again"
    return
check(18)

266 88 29 288 377 151 166 109 147 399 159 282 414 180 271 416 203 119 110 179

'try again'